.MovieCard {
    display: flex;
    flex-direction: column;
}
.movieImage {
    width: 50%;
}


.widget-container {
    display: flex;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
}


