.header-container {
    display: flex;
    background-color:#444444;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    margin-left: 30px;


}

.popcorn {
    width:10%;
}

.popcorn:hover {
    animation: rotating 2s linear infinite;
}

a {
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: grey;
    font-size: 30px;

}


a:hover {
    color: white;
    transition: 1s;
    transform: scale(1.25);
    opacity: 1;
}



@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
